body {
    background-color: var(--background-primary);
    color: white
}

.about-container {
    margin-top: 10px;
}

.heading {
    font-size: 4rem !important;
}

.grid.about {
    display: grid;
    width: 100%;
    margin-bottom: 50px;
}

.grid-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.grid-item.v2 {
    flex-direction: row-reverse;
}

.item.image {
    height: 300px;
    width: 300px;
    border: 2px solid rgb(19, 19, 20);
    border-radius: 500px;
    transition: 100ms;
    display: block;
    background-position: 0px;
}

.item.image:hover {
    transform: scale(1.05);
}

.v1 .item.image-cont {
    justify-content: flex-end;
}

.v2 .item.image-cont {
    justify-content: flex-start;
}

.item.image-cont {
    width: 45%;
    display: flex;
}

.item.textbox {
    padding: 10px;
    max-width: 420px;
    width: 45%;
    /* text-align: left; */
    /* text-align: right */
}

.item.sub-heading {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.item.text-cont {
    /* padding: 10px 10px 10px 100px; */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
.item-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
}

.circle-item {
    border-radius: 500px;
    height: 80px;
    width: 80px;
    background-color: white;
    position: relative;
    align-self: center;
    transition: ease-out;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.g1 .uno{
    background-image: url("../assets/about-1-1.jpg")
}
.g1 .dos{
    background-image: url("../assets/about-1-2.jpg");
}
.g1 .tres{
    background-image: url("../assets/about-1-3.png");
}
.g2 .uno{
    background-image: url("../assets/website-design.png");
}
.g2 .dos{
    background-image: url("../assets/3d-modeling1.jpg");
}
.g2 .tres{
    background-image: url("../assets/about-2-3.png");
}
.g3 .uno{
    background-image: url("../assets/about-3-1.jpg")
}
.g3 .dos{
    background-image: url("../assets/about-3-2.webp");
}
.g3 .tres{
    background-image: url("../assets/about-3-3.png");
}
.circle-cont {
    display: flex;
    width: 300px;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    z-index: -1;
}

.v1 .uno,
.v2 .tres {
    transition: 600ms 200ms;
}

:is(.v1, .v2) .dos {
    transition: 800ms;
}

.v1 .tres,
.v2 .uno {
    transition: 800ms;
}

.image:not(:hover)~.circle-cont .circle-item {
    transition-delay: 0ms !important;
}

.g1 .image:hover~.circle-cont .uno,
.g3 .image:hover~.circle-cont .uno {
    transform: translate(-100px);
}

.g1 .image:hover~.circle-cont .dos,
.g3 .image:hover~.circle-cont .dos {
    transform: translate(-130px, -160px);
}

.g1 .image:hover~.circle-cont .tres,
.g3 .image:hover~.circle-cont .tres {
    transform: translate(-240px, 160px);
}

.g2 .image:hover~.circle-cont .tres {
    transform: translate(100px);

}

.g2 .image:hover~.circle-cont .dos {
    transform: translate(130px, -160px);

}

.g2 .image:hover~.circle-cont .uno {
    transform: translate(240px, 160px);

}

/* @keyframes circles {
    100% {
        transform: translate(100px);
    }
} */

.item.text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    text-align: center;
}


@media (max-width:728px) {
    .item.image{
        height: 200px;
        width: 200px;
        justify-self: center;
    }
    .circle-cont{
        display:none
    }
    .item.textbox{
        width: 90%;
    }
    .item.image-cont{
        justify-content: center !important;
        align-items: center;
    }
    .grid-item{
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }
}